# ENV for wojciech_falkowski_portfolio_backend

# Database mysql
DATABASE_HOST=
DATABASE_PORT=
MYSQL_ROOT_USER=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE_NAME=

# Email credentials
EMAIL_USERNAME=
EMAIL_PASSOWRD=

# Port
PORT=

# Allowed origins (comma-separated)
ALLOWED_ORIGIN=https://wojciechfalkowski.pl,https://www.wojciechfalkowski.pl,http://localhost:5555